.contact {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
    border-bottom: 4px solid #10a0ff;
    text-align: center;
  }

  & > p {
    margin-top: 20px;
    text-align: center;
  }

  .cds {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;

    .cd {
      background-color: #109fff75;
      padding: 15px 20px;
      border-radius: 5px;
    }
  }
}
