@import "rwd";
.contact {
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
    border-bottom: 4px solid #10a0ff;
    text-align: center;
  }

  & > p {
    margin-top: 20px;
    text-align: center;
  }

  .cds {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .cd {
      background-color: #109fff75;
      padding: 12px;
      border-radius: 5px;
      display: flex;
      color: #109fff;
      align-items: center;
      min-height: 100%;
      font-size: 2rem;
      a {
        color: #109fff;
      }
      P {
        font-size: 1.5rem;
        color: #e6e6e6;
        font-weight: 300;
      }
      i {
        font-size: 48px;
      }
      &:nth-child(1) {
        i {
          margin-right: 10px;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        padding: 12px 12px 7px 12px;
      }

      @include phone {
        i {
          font-size: 36px;
        }
        P {
          font-size: 1.2rem;
        }
      }
    }
  }
}
