nav {
  background-color: #00162b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.2s;
    letter-spacing: 2px;

    &:hover {
      background-color: #003b72;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 35px;
    }
    h1 {
      font-size: 1.8rem;
      font-weight: 200;
      margin: 0;
    }
  }
}
