/* All */

body {
    height: 100%;
    margin: 0;
    color: #FFFFFF;
    background-color: #1E1E1E;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #10A0FF;
}

a:hover {
    text-shadow: 0 0 1px #10A0FF;
}

/* Top Navbar */

#top-nav {
    font-size: xx-large;
    display: flex;
    flex-flow: row nowrap;
    padding: 8px 0 8px 0;
    background-color: #000000;
}

#top-nav > a {
    margin-right: 2%;
    color: #FFFFFF;
}

#top-nav > #logo {
    display: grid;
    margin-right: auto;
    margin-left: 2%;
    grid-template-rows: 0 7px 1fr;
    grid-template-columns: 0 12px 1fr;
}

#top-nav > #logo > #icon {
    z-index: 1;
    grid-area: 3 / 3;
}

#top-nav > #logo > #banner {
    z-index: 0;
    grid-area: 2 / 2 / 4 / 4;
}

/* Big Idea */

#big-idea {
    font-size: xx-large;
    background-color: #152238;
    border: 1px solid transparent;
}

#big-idea > * {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

/* Body */

#body {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
